#music {
  .container {
    .album-container {
      margin: 25px auto;
      margin-bottom: 50px;
      width: 100%;

      iframe {
        height: 450px;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
